.navigation{
  height: $navigation-height;
  background-color: $navigation-bg-color;
  position: fixed;
  top: $banner-height;
  left: 0;
  right: 0;
  z-index: 100;
  margin: 0;
  padding: 0 30px;
  font-family: $navigation-font;
  font-size: $navigation-font-size;

  li{
    float: left;
    clear:none;
    list-style: none;

    a{
      display: block;
      box-sizing: border-box;
      color: $navigation-font-color;
      text-decoration: none;
      height: $navigation-height;
      padding: $navigation-link-padding;
    }
  }
}


/* Small desktop, tablet and mobile */
@media only screen and (max-width: 1050px){

  .navigation{
    height: $navigation-small-height;
    font-size: $navigation-small-font-size;

    li{

      a{
        height: $navigation-small-height;
        padding: $navigation-small-link-padding;
      }
    }
  }
}
