@import './colors.scss';

//Paths
$image-path: 'res/img/';
$font-path: '/fonts/';
$logo-path: 'config/logo.png';

//Fonts
$navigation-font-file-path: $font-path + 'rajdhani/Rajdhani-Medium.ttf';
$navigation-font-file-format: 'truetype';
$navigation-font-name: 'RajdhaniMedium';
$navigation-font: $navigation-font-name, sans-serif;
$banner-font-file-path: $font-path + 'rajdhani/Rajdhani-Bold.ttf';
$banner-font-file-format: 'truetype';
$banner-font-name: 'RajdhaniBold';
$banner-font: $banner-font-name, sans-serif;
$image-subset-font: $banner-font;

//General
$margin-small: 10px;
$margin-medium: 20px;
$margin-large: 40px;
$font-size-small: 20px;
$font-size-medium: 30px;

//Z-axis ordering
$gallery-modal-z: 100;
$banner-z: add($gallery-modal-z, -1);

//Body
$body-bg-color: $color-3;
$body-fg-color: rgba(102, 153, 255, 0.1);

//Banner
$banner-height: 120px;
$banner-image-width: 120px;
$banner-color-1: $logo-bg-color; //should match logo
$banner-color-2: $color-2;

//Navigation
$navigation-bg-color: $color-1;
$navigation-font-color: $color-3;
$navigation-height: 50px;
$navigation-small-height: 70px;
$navigation-font-size: $font-size-small;
$navigation-small-font-size: $navigation-font-size + 10px;
$navigation-link-padding-top-and-bottom:
  ($navigation-height - $navigation-font-size) / 2;
$navigation-small-link-padding-top-and-bottom:
  ($navigation-small-height - $navigation-small-font-size) / 2;
$navigation-link-padding-left-and-right: $margin-small;
$navigation-link-padding:
  $navigation-link-padding-top-and-bottom $navigation-link-padding-left-and-right;
$navigation-small-link-padding:
  $navigation-small-link-padding-top-and-bottom $navigation-link-padding-left-and-right;

//Modal
$modal-shadow-color: rgba(0, 0, 0, 0.4);
$modal-bg-color: $color-3;
$modal-border-color: $color-4;

//Blog
$blog-bg-color: $color-3;
$blog-border-color: $color-4;

//Gallery
$image-subset-font-size: $font-size-medium;

//Content
$h1-margin-top-and-bottom: $margin-medium;
$h1-margin-left-and-right: 0;
$h1-margin: $h1-margin-top-and-bottom $h1-margin-left-and-right;
