/*
Color palette:
#003399 rgb(0, 51, 153)
#6699FF rgb(102, 153, 255)
#FFFFFF rgb(255, 255, 255)
#3366CC rgb(51, 102, 204)
Color combo can be found here:
http://www.colorcombos.com/color-schemes/23/ColorCombo23.html
*/

//Paths
$image-path: 'res/img/';
$font-path: '/fonts/';
$logo-path: 'logo.png';

//Fonts
$navigation-font-file-path: $font-path + 'rajdhani/Rajdhani-Medium.ttf';
$navigation-font-file-format: 'truetype';
$navigation-font-name: 'RajdhaniMedium';
$navigation-font: $navigation-font-name, sans-serif;
$banner-font-file-path: $font-path + 'rajdhani/Rajdhani-Bold.ttf';
$banner-font-file-format: 'truetype';
$banner-font-name: 'RajdhaniBold';
$banner-font: $banner-font-name, sans-serif;

//Body
$body-bg-color: #FFFFFF;
$body-fg-color: rgba(102, 153, 255, 0.1);

//Banner
$banner-height: 120px;
$banner-image-width: 120px;
$banner-color-1: #CCCCCC; //should match logo
$banner-color-2: #6699FF;

//Navigation
$navigation-bg-color: #003399;
$navigation-font-color: #FFFFFF;
$navigation-height: 50px;
$navigation-font-size: 20px;
$navigation-link-padding-top-and-bottom:
  ($navigation-height - $navigation-font-size) / 2;
$navigation-link-padding-left-and-right: 10px;
$navigation-link-padding:
  $navigation-link-padding-top-and-bottom $navigation-link-padding-left-and-right;

//Modal
$modal-shadow-color: rgba(0, 0, 0, 0.4);
$modal-bg-color: #FFFFFF;
$modal-border-color: #3366CC;

//Blog
$blog-bg-color: #FFFFFF;
$blog-border-color: #3366CC;

//Content
$h1-margin-top-and-bottom: 20px;
$h1-margin-left-and-right: 0;
$h1-margin: $h1-margin-top-and-bottom $h1-margin-left-and-right;
