.top-modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $gallery-modal-z;
  overflow: auto;
  background-color: $modal-shadow-color;

  &.fade-enter{
    opacity: 0;

    &.fade-enter-active{
      opacity: 1;
      @include transition(fade-in, 0.5s);
    }
  }

  &.fade-leave{
    opacity: 1;

    &.fade-leave-active{
      opacity: 0;
      @include transition(fade-out, 0.5s);
    }
  }

  .modal-frame{
    border-bottom: 3px solid $modal-border-color;
    border-radius: 3px;
    background-color: $modal-bg-color;
    padding: 20px;
    width: 80%;
    height: 80%;
    box-sizing: border-box;
    position: absolute;
    top: 10%;
    left: 10%;

    .modal-header{
      position: relative;

      .modal-close{
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 101; //on top of side navigation
        width: 32px;
        height: 32px;
        background-image: url($image-path + 'close.png');
        background-size: cover;
        opacity: $animation-partial-opacity;
        @include transition(partial-fade-out, 0.3s);

        &:hover, &:focus{
          opacity: 1;
          @include transition(partial-fade-in, 0.3s);
          cursor: pointer;
        }
      }
    }

    .modal-content{
      width: 100%;
      height: 100%;

      .modal-image-frame{
        position: relative;
        overflow: hidden;
        height: 100%;

        .modal-image{
          width: 100%;
          height: 100%;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: 50% 50%;

          &.fade-enter{
            opacity: 0;

            &.fade-enter-active{
              opacity: 1;
              @include transition(fade-in, 0.3s);
            }
          }

          &.fade-leave{
            opacity: 1;
            position: absolute;
            top: 0;
            left: 0;

            &.fade-leave-active{
              opacity: 0;
              @include transition(fade-out, 0.3s);
            }
          }
        }

        .modal-image-control{
          position: absolute;
          z-index: 100;
          width: 50px;
          height: 100%;
          background-repeat: no-repeat;
          background-size: 50px;
          opacity: $animation-partial-opacity;
          @include transition(partial-fade-out, 0.3s);

          &.modal-image-left{
            left: 0;
            background-image: url($image-path + 'left.png');
            background-position: left center;
          }

          &.modal-image-right{
            right: 0;
            background-image: url($image-path + 'right.png');
            background-position: right center;
          }

          &:hover, &:active{
            opacity: 1;
            @include transition(partial-fade-in, 0.3s);
            cursor: pointer;
          }
        }
      }
    }
  }
}
