@import 'style/variables.scss';
@import 'style/mixins.scss';
@import 'style/animations.scss'; //uses mixins from mixins.scss

//General styles

body{
  margin: 0;

  h1{
    margin: $h1-margin;
  }

  > div {
    background-color: $body-bg-color;
  }
}
